// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@200;300;700&display=swap');
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  // overflow: hidden;
  text-decoration: none;
  color: #004b3f;
}

.blob {
  position: absolute;
  top: 0;
  right: 20vw;
  fill: url(#header-shape-gradient) #fff;
  width: 50vmax;
  z-index: -1;
  animation: move 20s ease-in-out infinite;
  transform-origin: 50% 50%;
}

#header-shape-gradient {
  --color-stop: #43af5c;
  --color-bot: #ccf26b;
}

@keyframes move {
  0%   { transform: scale(1.8)   translate(10px, -30px); }
  38%  { transform: scale(1.3, 1) translate(40vw, -40vh) rotate(160deg); }
  40%  { transform: scale(1.3, 1) translate(40vw, -40vh) rotate(160deg); }
  78%  { transform: scale(2) translate(0vw, 20vh) rotate(-20deg); }
  80%  { transform: scale(2) translate(0vw, 20vh) rotate(-20deg); }
  100% { transform: scale(1.8)   translate(10px, -30px); }
}