  
  .wrapper-profile {
    height: auto;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 90%;
    // border-radius: 7px 7px 7px 7px;
    // box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    // background-color: red;
  }

  .wrapper-profile::-webkit-scrollbar {
    display: none;
  }

.profile-container{
  margin: 0 30px;
  // background-color: orange;
}
.profile-titles{
  text-align: center ;
  color: #004b3f;
  font-size: 36px;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 2px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.my-stuff {
  position: absolute;
  top: 70px;
}