  
  .wrapper {
   
    overflow-x: hidden;
    overflow-y: scroll;
    height: 80%;
    margin: 0 50px;
    width: 90%;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    display: flex;
  }

  .wrapper::-webkit-scrollbar {
    display: none;
  }
  
  .wrapper2 {
   
    overflow-x: hidden;
    overflow-y: scroll;
    height: 60%;
    padding: 10px;
    width: 100%;
    border-style: none;
    display: flex;
  }

  .wrapper2::-webkit-scrollbar {
    display: none;
  }

  .wrapper-show {
    height: 80%;
    margin: 0 auto;
    width: 90%;
    border-radius: 20px;
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    overflow: hidden;
  }

  .garden-wrapper {
    width: 32%;
    overflow: hidden;
  }

  .garden-img {
    height: 100%;
    width: 45vw;
    border-radius: 20px 0 0 20px;
  }
  
  .garden-img img {
    border-radius: 20px;
    height: 100%;
 
  }
  
  .garden-info {
    height: 100%;
    width: 35vw;
    
    background-color: #ffffff;
  }
  
  .garden-text {
    margin: 1vmin;
  }
  
  .reviews {
    overflow-y: scroll;
    padding: 20px;
    width: 35vw;
    border-radius: 0 20px 20px 0px;
    background-color: #ffffff; 
  }

  .reviews::-webkit-scrollbar {
    display: none;
  }

  .new-review {
    width: 25vw;
  }

  .garden-text h1 {
    margin: 0 0 0 38px;
    padding-top: 52px;
    font-size: 34px;
    color: #474747;
  }

  
  .garden-text h2 {
    margin: 0 0 47px 38px;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    color: #d2d2d2;
    letter-spacing: 0.2em;
  }
  
  .garden-text p {
    height: 125px;
    margin: 0 0 0 38px;
    color: #8d8d8d;
    line-height: 1.7em;
    font-size: 15px;
    font-weight: lighter;
    overflow: hidden;
  }
  
  .garden-price-btn {
    height: 103px;
    width: 327px;
    margin-top: 17px;
    position: relative;
  }
  
  .garden-price-btn p {
    display: inline-block;
    position: absolute;
    top: -13px;
    height: 50px;
    margin: 0 0 0 38px;
    font-size: 28px;
    font-weight: lighter;
    color: #474747;
  }
  
  .garden_price_info {
    display: inline-block;
    height: 50px;
    font-size: 34px;
    padding-bottom: 30px;
  }
  
  .book_btn {
    float: bottom;
    height: 50px;
    width: 176px;
    margin: 0px 20px 0 66px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: #43af5c;
    cursor: pointer;
    outline: none;
  }
  
  .book_btn:hover {
    background-color: #ccf26b;
    animation: spring 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }

  .book_btn a {
    text-decoration: none;
    color: white;
    :hover {
  
    }
  }