.light-green-button {
  color: white;
  font-size: 1rem;
  background: #43af5c ;
  border: none ;
  padding: 1vmin 1rem;
  border-radius: 30px;
  transition: opacity 0.3s ease;
  margin: 20px;
  text-decoration: none;
}

.light-green-button:hover {
  background-color: #ccf26b;
  text-decoration: none;
  color: white;
}

.light-green-button a {
  text-decoration: none;
  color: white;
  :hover {

  }
}

.light-green-button-booking {
  color: white;
  font-size: 1rem;
  background: #43af5c ;
  border: none ;
  padding: 1vmin 1rem;
  border-radius: 30px;
  transition: opacity 0.3s ease;
  text-decoration: none;

}

.light-green-button-booking:hover {
  background-color: #ccf26b;
  text-decoration: none;
  color: white;
}

.light-green-button-booking a {
  text-decoration: none;
  color: white;
  :hover {

  }
}

.dark-green-button {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  background: #ccf26b ;
  border: none ;
  padding: 1vmin 1rem;
  border-radius: 30px;
  transition: opacity 0.3s ease;
  margin: 20px;
}

.dark-green-button:hover {
  background-color: #43af5c;
  text-decoration: none;
  color: white;
}

.dark-green-button a {
  text-decoration: none;
  color: white;
  :hover {

  }
}

.main_rent {
  color: white;
  font-size: 2rem;
  background: #43af5c ;
  border: none ;
  padding: 2vmin 3rem;
  border-radius: 30px;
  transition: opacity 0.3s ease;
  margin: 20px;
}

.main_rent:hover {
  opacity: 1;
  text-decoration: none;
  color: white;
  animation: spring 3s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.main_list {
  color: white;
  font-size: 2rem;
  background: #ccf26b;
  border: none;
  padding: 2vmin 3rem;
  border-radius: 30px; 
  transition: opacity 0.3s ease;
  margin: 20px;
}


.main_list:hover {
  opacity: 1;
  text-decoration: none;
  color: white;
  animation: spring 3s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes spring { 
  0% { transform: scale(1) translateY(0); }
  10% { transform: scale(1.2, 0.6); }
  30% { transform: scale(0.8, 1.1) translateY(-50px); }
  50% { transform: scale(1) translateY(0); }
  100% { transform: translateY(0); }
}